/*---------------------- Font sections----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*---------------------- Genaral sections----------------------- */

body {
    font-family: 'Poppins', sans-serif;
}

/*---------------------- Banner sections----------------------- */
.banner-h1 {
    font-size: 48px;
    font-weight: 600;
}

.banner-p {
    font-size: 16px;
    font-weight: 300;

}

/*--= Buttons=--*/

.btn-w {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    margin-bottom: 10px;

}

.btn-banner-a {
    text-decoration: none;
    color: #3F87F5;
    font-size: 16px;
    font-weight: 700;

}


.btn-banner-b {
    background-color: #3F87F5;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

}

.btn-banner-b:hover {
    background-color: white;
    color: #3F87F5;

}



/*---------------------- Text-banner sections----------------------- */

.m-sec {
    margin-bottom: 100px;
}

.p-a {
    text-align: center;
}

.blok-p {
    display: block;
}

.margin-d {
    margin-top: 30px;
}

.p-colour {
    color: #6c757d;
    font-size: 15px;
    text-align: center;
}

.p-spans {
    color: #848199;
    font-size: 15px;
    text-align: left;
    margin-left: 30px;

}

/* Our packaje  */

/* .capsul {
    background-color: red;
    width: 46px;
    height: 27px;
    color: white;
    text-align: center;
    position: absolute;
    left: 130px;
    top: -15px;



} */
.capsul {
    position: absolute;
    left: 130px;
    top: -10px;

}


/* happy claint syas */

.mbc {
    margin-bottom: 30px;
}

.mbs {
    margin-bottom: 100px;
}



.pp {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #6c757d;
}

.p-colouf {
    color: #747474;
    font-size: 15px;
    text-align: center;
}


/* last  */

.hide-btn-p {
    font-size: 16px;
    font-weight: 400;
    color: #7E848C;
}


.w-f-s {
    width: 552px;
}

/*----------------- Footer section ----------------- */

.bg-pro {
    background-color: #0B0D17;
}